{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Tableau de bord</h1>
    <div class="dashboard">
        <div class="dashboard-module" id="personal-info">
            <h2>Informations personnelles</h2>
            <ul>
                <li><strong>Nom :</strong> {{ app.user.lastname }}</li>
                <li><strong>Prénom :</strong> {{ app.user.firstname }}</li>
                <li><strong>Email :</strong> {{ app.user.email }}</li>
                <li><strong>Numero de telephone :</strong> {{ app.user.phoneNumber }}</li>
            </ul>
            <a href="{{ path('app_profil_edit') }}" class="btn btn-sm btn-outline-primary mt-2">Modifier</a>
            <a href="{{ path('app_change_password') }}" class="btn btn-sm btn-outline-primary mt-2">Modifier mon mot de passe</a>
            <h2>Mes adresses</h2>
             {% for adresse in app.user.addresses  %}
                 <h3>Adresse {{ loop.index }}</h3>
            <ul>

                <li><strong>Adresse:</strong> {{ adresse.address}}</li>
                <li><strong>Code postal</strong> {{ adresse.zipcode }}</li>
                <li><strong>Ville</strong> {{ adresse.city }}</li>
                <li><strong>Pays</strong> {{ adresse.country }}</li>
            </ul>

                 <a href="{{ path('app_addresses_edit', {'id': adresse.id}) }} " class="btn btn-sm btn-outline-primary mt-2">Modifier</a>
                 <a href="{{ path('app_addresses_delete', {'id': adresse.id}) }} " class="btn btn-sm btn-outline-secondary mt-2">Supprimer</a>

                 {% else  %}
                 <p> Pas encore d'adresse</p>
            {%  endfor %}
            <a href="{{ path('app_addresses_new') }}" class="btn btn-sm btn-outline-primary mt-2">Ajouter une adresse </a>
        </div>
        <div class="dashboard-module" id="orders">
            <h2>Mes commandes</h2>
            {% if orders is defined and orders|length > 0 %}
                <ul class="list-group">
                    {% for order in orders %}
                        <li class="list-group-item">
                           <div><strong>Commande n°{{ order.id }}</strong> - {{ order.statusPayment }}</div>
                            <div>Montant : {{ order.price }} €</div>
                            <div>Date : {{ order.paymentAt|date('d/m/Y') }}</div>
                            <div>Colis:
                                {% if order.packages|length > 0 %}
                                    {{ order.packages.first.reference }}
                                {% else %}
                                    Aucun colis
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucune commande pour le moment.</p>
            {% endif %}
            <a href="{{ path('app_orders_new')}}" class="btn btn-sm btn-outline-primary mt-2">Passer une commande</a>

        </div>
    </div>
</div>
{% endblock body %}
